<div class="payment-options-modern" *ngIf="setting?.payment_methods?.length">
    <div class="payment-grid">
        <ng-container *ngFor="let payment of setting.payment_methods; let i = index; trackBy: trackByPaymentMethod">
            <div class="payment-card-wrapper" *ngIf="payment?.status">
                <input class="payment-radio-input"
                       type="radio"
                       name="payment_method"
                       [id]="'payment_' + payment.name"
                       (change)="set(payment.name)">
                <label class="payment-label" [attr.for]="'payment_' + payment.name">
                    <div class="payment-card">
                        <!-- Radio circle on the LEFT -->
                        <div class="radio-dot">
                            <div class="radio-inner"></div>
                        </div>
                        <!-- Payment title + icon -->
                        <div class="payment-info">
                            <span class="payment-title">{{ payment.title || payment.name }}</span>
                            <img *ngIf="payment.icon"
                                 [src]="payment.icon"
                                 [alt]="payment.name"
                                 class="payment-icon"
                                 [class.payment-icon-jio]="payment.name === 'turnlife_jio'">
                        </div>
                    </div>
                </label>
            </div>
        </ng-container>
    </div>
</div>
<div *ngIf="!setting?.payment_methods?.length" class="empty-payment-methods">
    <p>{{ 'No Payment Methods Available' | translate }}</p>
</div>
