<!-- Topbar -->
<div class="header-top" [class.bg-dark]="data?.header?.page_top_bar_dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 d-xxl-block d-none">
            </div>
            <div class="col-xxl-6 col-lg-9 d-lg-block d-none pt-1">
                <div class="header-offer">
                    <app-notice [content]="data?.header?.top_bar_content"></app-notice>
                </div>
                <div class="quick-links d-none d-lg-block mt-2">
                    <ul class="quick-links-list">
                        <li><a routerLink="/about-us" href="/about-us" title="About Us">About Us</a></li>
                        <li><a routerLink="/Contact-Us" href="/Contact-Us" title="Contact Us">Contact Us</a></li>
                        <li><a routerLink="/page/faq" href="/page/faq" title="FAQ">FAQ</a></li>
                        <li><a routerLink="/page/offers" href="/page/offers" title="Offers">Offers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <ul class="about-list right-nav-about">
                    <li class="right-nav-list">
                        <div class="dropdown theme-form-select">
                            <app-language></app-language>
                        </div>
                    </li>
                    <li class="right-nav-list">
                        <div class="dropdown theme-form-select select-arrow">
                            <app-currency></app-currency>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


