
<div ngbAccordion [closeOthers]="true" class="accordion-box product-section-box mt-0">
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        <span>{{ 'Description' | translate }}</span>
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="product-description">
            <div class="nav-desh ckeditor-content" [innerHTML]="product?.description">
            </div>
          </div>
        </ng-template>
      </div>
    </div>
</div>
