<section class="breadcrumb-section-simple" *ngIf="breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="breadcrumb-simple">
                    <a [routerLink]="['/']" class="breadcrumb-item-link">{{ 'Home' | translate }}</a>
                    <span class="breadcrumb-separator">/</span>
                    <ng-container *ngFor="let item of breadcrumb?.items; let last = last">
                        <span class="breadcrumb-item" [class.active]="last">{{ item?.label! | titleCase }}</span>
                        <span class="breadcrumb-separator" *ngIf="!last">/</span>
                    </ng-container>
                </nav>
            </div>
        </div>
    </div>
</section>